In [1]:
import pandas_datareader.data as dr

In [2]:
import datetime

In [3]:
start = datetime.datetime(2019,10,1)

In [4]:
end = datetime.datetime(2020,9,5)

In [17]:
sam = dr.DataReader('005930.KS', 'yahoo',start, end)

In [18]:
sam

               High      Low     Open    Close      Volume  Adj Close
Date
2019-10-01  49100.0  48650.0  48900.0  48850.0   6206035.0    48850.0
2019-10-02  48400.0  47600.0  48350.0  47600.0   8382463.0    47600.0
2019-10-04  48650.0  47350.0  47400.0  48000.0   9331695.0    48000.0
2019-10-07  48700.0  47650.0  48350.0  47750.0   7047273.0    47750.0
2019-10-08  49000.0  47600.0  47900.0  48900.0  14239367.0    48900.0
...             ...      ...      ...      ...         ...        ...
2020-08-31  56100.0  54000.0  56000.0  54000.0  32671367.0    54000.0
2020-09-01  54800.0  54100.0  54100.0  54200.0  19363117.0    54200.0
2020-09-02  55100.0  54100.0  54600.0  54400.0  16905723.0    54400.0
2020-09-03  56700.0  55500.0  55600.0  56400.0  28384920.0    56400.0
2020-09-04  55800.0  55100.0  55200.0  55600.0  22139109.0    55600.0

[231 rows x 6 columns]

In [19]:
sam.shape

(231, 6)

In [20]:
sam.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 231 entries, 2019-10-01 to 2020-09-04
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       231 non-null    float64
 1   Low        231 non-null    float64
 2   Open       231 non-null    float64
 3   Close      231 non-null    float64
 4   Volume     231 non-null    float64
 5   Adj Close  231 non-null    float64
dtypes: float64(6)
memory usage: 12.6 KB

In [21]:
sam.reset_index()

          Date     High      Low     Open    Close      Volume  Adj Close
0   2019-10-01  49100.0  48650.0  48900.0  48850.0   6206035.0    48850.0
1   2019-10-02  48400.0  47600.0  48350.0  47600.0   8382463.0    47600.0
2   2019-10-04  48650.0  47350.0  47400.0  48000.0   9331695.0    48000.0
3   2019-10-07  48700.0  47650.0  48350.0  47750.0   7047273.0    47750.0
4   2019-10-08  49000.0  47600.0  47900.0  48900.0  14239367.0    48900.0
..         ...      ...      ...      ...      ...         ...        ...
226 2020-08-31  56100.0  54000.0  56000.0  54000.0  32671367.0    54000.0
227 2020-09-01  54800.0  54100.0  54100.0  54200.0  19363117.0    54200.0
228 2020-09-02  55100.0  54100.0  54600.0  54400.0  16905723.0    54400.0
229 2020-09-03  56700.0  55500.0  55600.0  56400.0  28384920.0    56400.0
230 2020-09-04  55800.0  55100.0  55200.0  55600.0  22139109.0    55600.0

[231 rows x 7 columns]