In [1]:
import pandas_datareader.data as dr

In [2]:
import datetime

In [3]:
start = datetime.datetime(2019,10,1)

In [4]:
end = datetime.datetime(2020,9,5)

In [8]:
sh = dr.DataReader('008770.KS', 'yahoo',start, end)

In [9]:
sh

               High      Low     Open    Close     Volume  Adj Close
Date
2019-10-01  86000.0  82100.0  85800.0  82500.0   653709.0    82500.0
2019-10-02  82900.0  80700.0  82700.0  81000.0   541381.0    81000.0
2019-10-04  81500.0  79200.0  81000.0  79800.0   435223.0    79800.0
2019-10-07  81500.0  79800.0  80400.0  80200.0   236583.0    80200.0
2019-10-08  81300.0  80200.0  80400.0  80800.0   266694.0    80800.0
...             ...      ...      ...      ...        ...        ...
2020-08-31  71600.0  70300.0  71600.0  70300.0   348867.0    70300.0
2020-09-01  73400.0  70300.0  70700.0  72500.0   696976.0    72500.0
2020-09-02  77000.0  73600.0  73700.0  75800.0  1333521.0    75800.0
2020-09-03  77800.0  75100.0  76700.0  75300.0  1086752.0    75300.0
2020-09-04  75300.0  73500.0  73900.0  74600.0   596400.0    74600.0

[231 rows x 6 columns]

In [11]:
sh.shape

(231, 6)

In [12]:
sh.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 231 entries, 2019-10-01 to 2020-09-04
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       231 non-null    float64
 1   Low        231 non-null    float64
 2   Open       231 non-null    float64
 3   Close      231 non-null    float64
 4   Volume     231 non-null    float64
 5   Adj Close  231 non-null    float64
dtypes: float64(6)
memory usage: 12.6 KB

In [14]:
sh.reset_index()

          Date     High      Low     Open    Close     Volume  Adj Close
0   2019-10-01  86000.0  82100.0  85800.0  82500.0   653709.0    82500.0
1   2019-10-02  82900.0  80700.0  82700.0  81000.0   541381.0    81000.0
2   2019-10-04  81500.0  79200.0  81000.0  79800.0   435223.0    79800.0
3   2019-10-07  81500.0  79800.0  80400.0  80200.0   236583.0    80200.0
4   2019-10-08  81300.0  80200.0  80400.0  80800.0   266694.0    80800.0
..         ...      ...      ...      ...      ...        ...        ...
226 2020-08-31  71600.0  70300.0  71600.0  70300.0   348867.0    70300.0
227 2020-09-01  73400.0  70300.0  70700.0  72500.0   696976.0    72500.0
228 2020-09-02  77000.0  73600.0  73700.0  75800.0  1333521.0    75800.0
229 2020-09-03  77800.0  75100.0  76700.0  75300.0  1086752.0    75300.0
230 2020-09-04  75300.0  73500.0  73900.0  74600.0   596400.0    74600.0

[231 rows x 7 columns]